<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text"  th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter username:</label>
    <input type="text"  th:field="*{username}" id="surname"/>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text"  th:field="*{age}" id="age"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text"  th:field="*{password}" id="password"/>
    <hr/>
        <label for="role-select">Select roles</label><br><br>
    <select id="role-select" required class="form-control" th:field="*{roles}" multiple="multiple" >
        <option th:each="role : ${users_roles}"
                th:field="*{roles}"
                th:value="${role.id}"
                th:text="${role.name}">Role name
        </option>
    </select>
    <hr/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>